# Firebase
.firebase
.firebaserc
firebase-debug.log

# Emulators
emulators.log

# Service Account Key
serviceAccountKey.json

# Node
node_modules
npm-debug.log
yarn-error.log

# Build
public
functions/lib

# IDE
.idea
.vscode

# OS
.DS_Store
