rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && request.auth.token.admin == true;
    }

    match /marketplace/resumes/{uid}/{fileName} {
      allow read, write: if isSignedIn() && request.auth.uid == uid;
    }

    match /marketplace/company-assets/{employerId}/{fileName} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
