body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input,
button {
  margin-bottom: 10px;
  padding: 10px;
}

button {
  cursor: pointer;
}
